<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Racon</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>

    <div class="top-bar">
      <div>
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li>
              <a href="#">One</a>
            </li>
          </ul>
        </div>
        <div class="top-bar-right"></div>
      </div>
    </div>

    <script src="/jquery.js"></script>
    <script src="/what-input.js"></script>
    <script src="/foundation.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
